body {
  min-width: 1650px;
}

#rel-group-select{
  width: 100%;
}

.dataTables_scrollHead{
  overflow: visible !important;
}

#search-row{
  margin-bottom: 5px !important;
}

#assembly-select{
  width: 170px;
}

#release-row{
  margin-bottom: 15px !important;
  margin-left: 16px !important;
}

#select-all {
  /*exact px for center-align
  of header row checkbox*/
  margin-left: 13px;
}

#bw-table {
  border-spacing: 0px;
  width: 100%;
}

.page-header{
  margin-top: 30px;
  margin-bottom: 19px;
}

.page-footer{
  margin-top: 12px;
}

/*
.show-group{
  width: 125px;
}
*/

#counters{
  margin-top: 8px;
  margin-right: 15px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.select2-container--default .select2-results__option[aria-disabled=true] {
    display: none;
}

.select2-container{
  font-size: 80% !important;
  width: 80% !important;
}

.select2-search__field {
  font-size: 80% !important;
}

.select2-selection__choice {
  font-size: 80% !important;
}

.select2-results__option[aria-disabled=true] {
    display: none;
}

/*remove hover effect from child rows*/
table.dataTable.display tbody tr.child {
  background: white;
}
table.dataTable.display tbody tr table tr:hover {
  background: none;
}
