<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>GeEC Public Datasets</title>
  <!--DataTables-->
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.css">
  <!--DataTables Plugin: FixedHeader-->
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/fixedheader/3.0.0/css/fixedHeader.dataTables.min.css">
  <!--DataTables Plugin: Scroller-->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/dt/sc-1.4.0/datatables.min.css"/>
  <!--Bootstrap-->
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <!--Select2 & skins-->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.min.css">
  <link rel="stylesheet" type="text/css" href="https://select2.github.io/select2-bootstrap-theme/css/select2-bootstrap.css">
  <!--self-->
  <link rel="stylesheet" type="text/css" href="{% static "table/table.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "table/bootstrap-chosen.css" %}">
</head>

<body>
  {% block content %}
  {% endblock %}
  <!--jQuery-->
  <script defer type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!--DataTables-->
  <script defer type="text/javascript" src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.js"></script>
  <!--DataTables Plugin: FixedHeader-->
  <script defer type="text/javascript" src="//cdn.datatables.net/fixedheader/3.0.0/js/dataTables.fixedHeader.min.js"></script>
  <!--DataTables Plugin: Scroller-->
  <script defer type="text/javascript" src="https://cdn.datatables.net/s/dt/sc-1.4.0/datatables.min.js"></script>
  <!--Bootstrap-->
  <script defer type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <!--Chosen-->
  <script defer type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min.js"></script>
  <!--self-->
  <script>var ihecJson = "{% static "table/hg19.json" %}";</script>
  <script defer type="text/javascript" src="{% static "table/table.js" %}"></script>
</body>
</html>
