{% extends "table/base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
  <div class="page-header">
    <!--header section-->
    <h2>GeEC Public Datasets</h2>
  </div>
  <div class="row form-group nopadding" id="search-row">
    <!--filter section-->
    <!--Select an assembly-->
    <div class="col-xs-2 form-inline">
      <form id="release-form" action="{{ url }}" method="GET" class = "form-horizontal">
        <div class="form-group form-inline">
          <input type="HIDDEN" id="tool_id" name="tool_id" value="{{tool_id}}"/>
          <input type="HIDDEN" id="GALAXY_URL" name="GALAXY_URL" value="{{galaxy_url}}"/>
          <input type="HIDDEN" id="sendToGalaxy" name="sendToGalaxy" value="{{send_to_galaxy}}"/>
          <select class="form-control" id="rel-select" name="release">
            <option value='release' disabled selected>Release</option>
            <option value='hg19_IHEC_2016-03' selected="False">hg19_IHEC_2016-03</option>
            <option value='hg19_IHEC_2016-11' selected="True">hg19_IHEC_2016-11</option>
            <option value='hg38_IHEC_2016-11' selected="False">hg38_IHEC_2016-11</option>
            <option value='mm10_IHEC_2016-11' selected="False">mm10_IHEC_2016-11</option>
            <!--<option value='hg19_IHEC_2016-04' selected="False">hg19_IHEC_2016-04</option>-->
          </select>
        </div>
      </form>
    </div>
    <div class="col-xs-2">
      <!--Select a column-->
      <select class="form-control" id="column-select">
        <option value="null" disabled selected>Filter on column</option>
        <option value="null">Any</option>
        <option value="1">Assay</option>
        <option value="2">Assay Category</option>
        <option value="3">Cell Type</option>
        <option value="4">Cell Type Category</option>
        <option value="5">Releasing Group</option>
        <option value="6">File Name</option>
        <option value="7">Institution</option>
      </select>
    </div>
    <!--Search bar-->
    <div class="col-xs-3 nopadding nowrap">
      <input type="text" class="form-control" placeholder="Search" id="search-bar">
    </div>
  </div>
  <div class="row" id="release-row">
    <div class="col-xs-2 nowrap">
    </div>
    <div class="col-xs-3 nopadding nowrap">
      <!--<a href='#'>Advanced Selection</a>-->
    </div>
  </div>
  <div class="row">
    <!--table section-->
    <div class="col-xs-12">
      <!--main table-->
      <small>
        <table id="bw-table" class="display compact nowrap">
          <thead id="table-header">
            <tr>
              <th></th>
              <th>
                <select class="select2" id="assay-select" placeholder="Assay" multiple="multiple">
                  {% for assay in assays %}
                    <option value="{{assay}}">{{assay}}</option>
                  {% endfor %}
                </select>
              </th>
              <th>
                <select class="select2" id="assay-cat-select" placeholder="Assay Category" multiple="multiple">
                  {% for assay_cat in assay_cats %}
                    <option value="{{assay_cat}}">{{assay_cat}}</option>
                  {% endfor %}
                </select>
              </th>
              <th>
                <select class="select2" id="cell-type-select" placeholder="Cell Type" multiple="multiple">
                  {% for cell_type in cell_types %}
                    <option value="{{cell_type}}">{{cell_type}}</option>
                  {% endfor %}
                </select>
              </th>
              <th>
                <select class="select2" id="cell-type-cat-select" placeholder="Cell Type Category" multiple="multiple">
                  {% for cell_type_cat in cell_type_cats %}
                    <option value="{{cell_type_cat}}">{{cell_type_cat}}</option>
                  {% endfor %}
                </select>
              </th>
              <th>
                <select class="select2" id="rel-group-select" placeholder="Releasing Group" multiple="multiple">
                  {% for rel_group in rel_groups %}
                    <option value="{{rel_group}}">{{rel_group}}</option>
                  {% endfor %}
                </select>
              </th>
            </tr>
            <tr>
              <th class="dt-center"><input id="select-all" type="checkbox"></th>
              <th>Assay</th>
              <th>Assay Category</th>
              <th>Cell Type</th>
              <th>Cell Type Category</th>
              <th>Releasing Group</th>
              <th>File Name</th>
              <th>Institution</th>
              <th></th>
            </tr>
          </thead>
        </table>
      </small>
    </div>
  </div>
  <div class="row page-footer">
    <div class="col-xs-4 btn-group">
      <!--footer section-->
      <button id="show-all" class="btn btn-primary show-group disabled">Show all datasets</button>
      <button id="show-selected" class="btn btn-primary show-group">Show only selected</button>
    </div>
    <div class="col-xs-4 nowrap text-right">
      <!--Dataset count-->
      <label>
        <span id="shown-count">0</span> datasets displayed, <span id="select-count">0</span> selected
      </label>
    </div>
    <div class="col-xs-4 nowrap text-right">
      <div class="form-group form-inline">
        <!--file name-->
        <input type="text" class="form-control" placeholder="Filename" id="out_file_name">
        <!--submit button-->
        <button id="submit" class="btn btn-primary disabled pull-right"><span class="glyphicon 
        glyphicon-check"></span> Send Metadata to Galaxy</button>
      </div>
    </div>
  </div>
</div>

<!--output form if user comes from galaxy-->
{% if request.GET.sendToGalaxy %}
<form id="galaxy-form" action="{{galaxy_url}}" method="POST">
  <input type="HIDDEN" id="tool_id" name="tool_id" value="{{tool_id}}"/>
  <input type="HIDDEN" name="URL" value="{{ url }}data/">
  <input type="HIDDEN" name="dbkey" value="{{release}}">
  <input type="HIDDEN" name="URL_method" value="post">
  <input type="HIDDEN" id="datasets" name="datasets" value="">
  <input type="HIDDEN" id="out_title" name="title" value="GeEC_dataset">
</form>
{% else %}
<!--Warning if not from galaxy-->
<!--
<div id="galaxy-warning" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Warning: Some functionalities may be unavailable</h4>
      </div>
      <div class="modal-body">
        <p>stuff about geec</p>
        <p>stuff about galaxy</p>
        <p>stuff about genap</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default">Go to genap</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Continue</button>
      </div>
    </div>
  </div>
</div>-->
{% endif %}

{% endblock %}
